{% comment %}
  Shared View - Inline SVG Icons
  Captures for all collection type icons (embedded, no external dependencies)

  Each capture block contains the complete SVG markup with embedded image data.
  The SVG files are located in resources/icons/ and can be copied directly.
{% endcomment %}

{%- capture svg_recycle -%}
<svg width="100%" height="100%" viewBox="0 0 76 110" version="1.1" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
    style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <g transform="matrix(0.856556,0,0,0.980151,0,0)">
        <rect x="0" y="0" width="88.19" height="111.751" style="fill:none;" />
        <g transform="matrix(1.16747,0,0,1.02025,-15.1073,3.31341)">
            <path
                d="M65.191,2.672C52.203,8.75 38.531,14.293 27.371,19.582C25.625,20.375 24.57,21.25 24.012,22.113C23.453,22.976 23.379,23.828 23.668,24.457C24.324,25.613 24.949,26.812 25.586,27.988C25.379,28.055 25.23,28.269 25.242,28.488L25.242,36.488C25.242,36.75 25.48,36.988 25.746,36.988L27.41,36.988L32.184,82.84C31,84.43 30.301,86.371 30.301,88.496C30.301,93.739 34.551,97.996 39.82,97.996C43.023,97.996 45.851,96.407 47.578,93.996L67.965,93.996C68.219,93.996 68.453,93.778 68.469,93.528L74.344,36.989L76.008,36.989C76.27,36.989 76.512,36.75 76.512,36.489L76.512,28.489C76.512,28.227 76.274,27.989 76.008,27.989L28.766,27.989L72.493,8.86C72.735,8.742 72.841,8.406 72.712,8.172C71.954,6.758 71.188,5.317 70.419,3.922C69.934,2.899 69.223,2.235 68.313,2.047C67.247,1.852 66.036,2.293 65.204,2.672L65.191,2.672ZM68.113,3.016C68.687,3.137 69.121,3.516 69.527,4.391L71.57,8.141L26.652,27.832L24.609,24.05C24.488,23.789 24.441,23.289 24.859,22.644C25.277,22 26.152,21.226 27.781,20.488L65.601,3.578C66.452,3.129 67.253,3.008 68.113,3.016L68.113,3.016ZM26.242,28.989L75.496,28.989L75.496,35.989L26.242,35.989L26.242,28.989ZM28.41,36.989L73.328,36.989L67.484,92.997L48.199,92.997C48.926,91.657 49.328,90.126 49.328,88.497C49.328,83.254 45.078,78.965 39.809,78.965C37.191,78.965 34.809,80.04 33.086,81.747L28.41,36.989ZM54.797,40.989L48.766,41.989C48.547,42.032 48.469,42.157 48.324,42.403C48.145,42.68 44.039,48.993 43.047,50.739C42.934,50.961 43.02,51.266 43.234,51.395C44.656,52.227 46.086,53.063 47.508,53.895C47.731,54.032 48.059,53.957 48.199,53.739L51.434,48.676L53.223,52.239L51.652,53.02C51.281,53.196 51.348,53.86 51.746,53.957L58.781,55.957C59.028,56.016 59.305,55.856 59.379,55.614L61.391,48.614C61.496,48.25 61.047,47.864 60.699,48.02L59.129,48.801L55.328,41.239C55.211,40.965 54.969,40.965 54.793,40.989L54.797,40.989ZM54.609,42.02L58.473,49.707C58.594,49.934 58.902,50.035 59.133,49.926L60.137,49.426L58.566,54.864L53.258,53.332L54.106,52.926C54.348,52.809 54.453,52.473 54.324,52.239L49.613,42.864L54.609,42.02ZM48.766,43.395L50.902,47.645L47.605,52.801C46.461,52.129 45.328,51.473 44.18,50.801C45.258,48.965 48.14,44.387 48.765,43.395L48.766,43.395ZM44.777,54.989L37.742,55.989C37.379,56.044 37.203,56.571 37.461,56.833L39.156,58.52L34.383,65.176C34.242,65.372 34.269,65.668 34.445,65.833L38.465,69.833C38.598,69.95 38.777,69.926 38.969,69.926L47.859,69.989C48.121,69.989 48.363,69.751 48.363,69.489L48.363,64.489C48.363,64.227 48.125,63.989 47.859,63.989L43.086,63.989L45.004,61.114L46.637,61.926C46.984,62.083 47.434,61.696 47.328,61.333L45.316,55.333C45.262,55.047 44.894,55.059 44.781,54.989L44.777,54.989ZM44.496,56.02L46.004,60.489L45.062,60.02C44.844,59.922 44.562,60.008 44.434,60.208L38.746,68.708L35.449,65.426L40.223,58.77C40.363,58.575 40.336,58.278 40.16,58.114L38.871,56.801C40.746,56.54 42.621,56.282 44.492,56.02L44.496,56.02ZM62.746,57.02L57.719,59.02C57.469,59.118 57.336,59.43 57.437,59.676L59.164,63.957L56.398,63.957L56.398,62.457C56.414,62.133 56.047,61.856 55.738,61.957C53.961,63.579 52.242,65.395 50.524,67.114C50.332,67.301 50.332,67.645 50.524,67.832L55.551,72.801C55.828,73.063 56.383,72.84 56.398,72.458L56.43,70.958L63.938,70.989C64.145,70.989 64.344,70.84 64.41,70.645L66.422,64.645C66.477,64.442 66.395,64.25 66.305,64.106L63.406,57.27C63.246,56.883 62.922,56.934 62.746,57.02L62.746,57.02ZM62.652,58.114L65.195,63.989L60.262,63.958L58.566,59.739C59.926,59.196 61.289,58.657 62.648,58.114L62.652,58.114ZM55.394,63.645L55.394,64.458C55.394,64.719 55.633,64.958 55.898,64.958L65.258,64.989L63.594,69.989L55.961,69.958C55.707,69.958 55.473,70.176 55.457,70.426L55.426,71.27L51.562,67.458C52.84,66.188 54.117,64.915 55.394,63.645L55.394,63.645ZM42.39,64.989L47.355,64.989L47.355,68.989L39.722,68.989L42.39,64.989ZM39.816,79.993C44.543,79.993 48.39,83.794 48.39,88.493C48.39,93.192 44.539,96.962 39.816,96.962C35.09,96.962 31.242,93.192 31.242,88.493C31.242,83.794 35.094,79.993 39.816,79.993Z"
                style="fill-rule:nonzero;" />
        </g>
    </g>
</svg>
{%- endcapture -%}

{%- capture svg_trash -%}
<svg width="100%" height="100%" viewBox="0 0 76 110" version="1.1" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
    style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <g transform="matrix(1,0,0,1,-125,0)">
        <g transform="matrix(1,0,0,1,-0.539998,0)">
            <rect x="125.54" y="0" width="75.54" height="109.533" style="fill:none;" />
            <g>
                <g transform="matrix(1,0,0,1,112.6,3.24764)">
                    <path
                        d="M65.191,2.672C52.203,8.75 38.531,14.293 27.371,19.582C25.625,20.375 24.57,21.25 24.012,22.113C23.453,22.976 23.379,23.828 23.668,24.457C24.324,25.613 24.949,26.812 25.586,27.988C25.379,28.055 25.23,28.269 25.242,28.488L25.242,36.488C25.242,36.75 25.48,36.988 25.746,36.988L27.41,36.988L32.184,82.84C31,84.43 30.301,86.371 30.301,88.496C30.301,93.739 34.551,97.996 39.82,97.996C43.023,97.996 45.851,96.407 47.578,93.996L67.965,93.996C68.219,93.996 68.453,93.778 68.469,93.528L74.344,36.989L76.008,36.989C76.27,36.989 76.512,36.75 76.512,36.489L76.512,28.489C76.512,28.227 76.274,27.989 76.008,27.989L28.766,27.989L72.493,8.86C72.735,8.742 72.841,8.406 72.712,8.172C71.954,6.758 71.188,5.317 70.419,3.922C69.934,2.899 69.223,2.235 68.313,2.047C67.247,1.852 66.036,2.293 65.204,2.672L65.191,2.672ZM68.113,3.016C68.687,3.137 69.121,3.516 69.527,4.391L71.57,8.141L26.652,27.832L24.609,24.05C24.488,23.789 24.441,23.289 24.859,22.644C25.277,22 26.152,21.226 27.781,20.488L65.601,3.578C66.452,3.129 67.253,3.008 68.113,3.016L68.113,3.016ZM26.242,28.989L75.496,28.989L75.496,35.989L26.242,35.989L26.242,28.989ZM28.41,36.989L73.328,36.989L67.484,92.997L48.199,92.997C48.926,91.657 49.328,90.126 49.328,88.497C49.328,83.254 45.078,78.965 39.809,78.965C37.191,78.965 34.809,80.04 33.086,81.747L28.41,36.989ZM39.816,79.993C44.543,79.993 48.39,83.794 48.39,88.493C48.39,93.192 44.539,96.962 39.816,96.962C35.09,96.962 31.242,93.192 31.242,88.493C31.242,83.794 35.094,79.993 39.816,79.993Z"
                        style="fill-rule:nonzero;" />
                </g>
                <g transform="matrix(0.217662,0,0,0.217662,149.445,47.8909)">
                    <path
                        d="M89.4,23.5C95,23.5 99.6,19.2 99.6,13.8C99.6,8.4 95.1,4 89.4,4C83.8,4 79.2,8.4 79.2,13.7C79.2,19 83.8,23.5 89.4,23.5"
                        style="fill-rule:nonzero;" />
                </g>
                <g transform="matrix(0.217662,0,0,0.217662,149.445,47.8909)">
                    <rect x="30.2" y="83.2" width="7.5" height="7.5" />
                </g>
                <g transform="matrix(0.217662,0,0,0.217662,149.445,47.8909)">
                    <path d="M41.6,73.3L36.2,67.8L30.7,73.3L36.2,78.7L41.6,73.3Z" style="fill-rule:nonzero;" />
                </g>
                <g transform="matrix(0.217662,0,0,0.217662,149.445,47.8909)">
                    <path d="M36.8,60.5L31.3,55.1L25.9,60.5L31.3,65.9L36.8,60.5Z" style="fill-rule:nonzero;" />
                </g>
                <g transform="matrix(0.217662,0,0,0.217662,149.445,47.8909)">
                    <path
                        d="M49,123.6L58.3,74.5L51.3,74.5L43.2,116.7L25.3,116.7L17.4,74.5L10.5,74.5L19.5,123.6L49,123.6Z"
                        style="fill-rule:nonzero;" />
                </g>
                <g transform="matrix(0.217662,0,0,0.217662,149.445,47.8909)">
                    <path
                        d="M60.8,47.4L45.4,47.4C39.3,47.4 39.3,55 45.4,55L63,55C64.3,55 65.7,54.3 66.7,52.8L75.5,39.6L75.5,118.3C75.5,121.3 78.1,123.8 81.2,123.8C84.4,123.8 86.9,121.3 86.9,118.3L86.9,72.6L92.2,72.6L92.2,118.3C92.2,121.3 94.8,123.8 97.9,123.8C101.1,123.8 103.6,121.3 103.6,118.3L103.6,39.6L108.9,39.6L108.9,68.6C108.9,74.4 116.9,74.4 116.9,68.6L116.9,38.9C116.9,32.4 110.2,26.1 102.2,26.1L82,26.1C77.4,26.1 73.4,28.3 71.1,31.7L60.8,47.4Z"
                        style="fill-rule:nonzero;" />
                </g>
            </g>
        </g>
    </g>
</svg>
{%- endcapture -%}

{%- capture svg_brush -%}
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px"
    viewBox="-250.0 -2100.0 5500.0 6750.0" xml:space="preserve">
    <g>
        <path
            d="M4184.1,3217.6c-32.4-95.3-78.1-190.7-135.7-283.4c-101.5-163.5-230.4-301-351.1-376l264.4-231.5   c17.2-15.1,27.4-36.8,28-59.7s-8.6-45.1-25-61l-95.3-92c13.2-21.2,16.1-47.4,7.5-71.2c-9.2-25.4-30.3-44.7-56.4-51.5l-278.6-72.9   c-25-6.5-50.9-1.2-71.3,14.7c-20.3,15.9-31.8,39.8-31.6,65.6l5.4,507.7c-42.4,10.5-87.8,29.5-135.6,56.7V1618   c0-79.9-58.5-146.4-134.9-158.8c-5.7-55-29.8-106-69.5-145.6c-42.1-42.1-97-66.8-156-70.3c0.3-5.1,0.5-10.2,0.5-15.2   c0-75.8-29.5-147-83.1-200.6s-124.8-83.1-200.6-83.1c-86.7,0-167.6,39.6-221,105.8c-34.1-50.9-91.8-82.8-155.4-82.8   c-36.1,0-71.1,10.3-101.3,29.9c-16.4,10.6-30.9,23.6-43.1,38.5c-48.6-62.8-123.6-100.3-204.6-100.3c-69.2,0-134.2,26.9-183.1,75.9   c-48.9,48.9-75.9,113.9-75.9,183.1c0,25.8,3.8,51,11.3,75.3c-41.9,3.7-81.1,19.3-114.4,45.7c-7.6,6-14.8,12.6-21.5,19.6V934.5   c0-15.1-12.2-27.3-27.3-27.3s-27.3,12.2-27.3,27.3v1674.8h-143.9V934.5c0-15.1-12.2-27.3-27.3-27.3c-15.1,0-27.3,12.2-27.3,27.3   v1693.8l-196.4,290.6c-10.5,15.5-15.3,34.2-13.8,52.8c0.9,10.6,3.9,20.8,8.6,30.2l-437.3,586.6c-4.9,6.6-6.6,14.9-4.6,22.9   l27.3,111.1c3.1,12.5,14.2,20.8,26.5,20.8c2.2,0,4.4-0.3,6.6-0.8c14.7-3.6,23.6-18.4,20-33.1l-24.2-98.5l421.9-566   c0,0,43.1,44.6,46.5,47.2l-301.9,705.3c-2.5,5.8-2.9,12.2-1.2,18.2l28.4,99.7c3.4,12,14.4,19.9,26.3,19.9c2.5,0,5-0.3,7.5-1.1   c14.5-4.1,23-19.3,18.8-33.8L936,3810l300.1-701h58l-157.5,783.7c-0.8,4-0.7,8.2,0.3,12.2l23.9,93.6c3.2,12.4,14.3,20.6,26.5,20.6   c2.2,0,4.5-0.3,6.8-0.9c14.6-3.7,23.5-18.6,19.7-33.3l-22.4-87.6l158.5-788.4h52.2v925.2c0,15.1,12.2,27.4,27.3,27.4   s27.3-12.2,27.3-27.4V3109h52.2l158.5,788.4L1645,3985c-3.7,14.6,5.1,29.5,19.7,33.3c2.3,0.6,4.5,0.9,6.8,0.9   c12.2,0,23.3-8.2,26.5-20.6l23.9-93.6c1-4,1.1-8.1,0.3-12.2L1564.8,3109h58l300.1,701l-25.7,90.4c-4.1,14.5,4.3,29.7,18.8,33.8   c2.5,0.7,5,1.1,7.5,1.1c11.9,0,22.9-7.8,26.3-19.9l28.4-99.7c1.7-6,1.3-12.5-1.2-18.2l-302-705.4c3.4-2.6,46.5-47.2,46.5-47.2   l421.9,566l-24.2,98.5c-3.6,14.7,5.4,29.5,20,33.1c2.2,0.5,4.4,0.8,6.6,0.8c12.3,0,23.5-8.4,26.5-20.8l27.3-111.1   c2-7.9,0.3-16.3-4.6-22.9L1757.7,3002c4.8-9.4,7.7-19.6,8.6-30.2c1.6-18.6-3.3-37.4-13.8-52.8l0,0l-196.4-290.6V1510.9   c2.2,0.6,4.5,0.9,6.9,0.9h1584.8l0,0l0,0c58.6,0,106.2,47.7,106.2,106.3v2282.5c0,58.6-47.7,106.3-106.3,106.3H1956.1   c-15.1,0-27.3,12.2-27.3,27.4s12.2,27.4,27.3,27.4h1191.8c88.8,0,161-72.2,161-161v-1274c61.2-38.3,117.5-62.2,167.6-71.3   c0.2,0,0.4-0.1,0.6-0.1c9.2-1.6,39.5,1,79.7,9c39.4,7.9,70.1,17.2,80.6,22.5c0.4,0.2,0.8,0.4,1.2,0.6   c121.7,64.6,257.5,205,363.5,375.7c116.6,187.7,180.7,383,180.7,549.9c0,184.6-67.7,313.1-207.1,393.1   c-118.3,67.8-288.3,100.8-519.6,100.8c-13.4,0-27.2-0.1-41.1-0.3c-0.1,0-0.3,0-0.4,0c-14.9,0-27.1,12-27.3,26.9   c-0.2,15.1,11.8,27.5,26.9,27.8c14.2,0.2,28.3,0.3,42,0.3c241.1,0,420-35.4,546.8-108.1c75.1-43.1,133-100.3,171.9-170.1   c41.6-74.6,62.7-165.6,62.7-270.5C4237.4,3420.9,4219.5,3321.5,4184.1,3217.6z M1704.3,2983.8l-59.3,62.1   c-5.1,5.4-12.3,8.5-19.8,8.5h-297.7c-0.1,0-0.2,0-0.3,0h-93.6c-7.4,0-14.6-3.1-19.8-8.5l-59.3-62.1c-8.8-9.2-10-23.6-2.9-34.2   l193-285.5h169.6l193,285.5C1714.3,2960.2,1713.1,2974.5,1704.3,2983.8z M1556.1,1458v-16c19-69.9,82.4-118.4,155.3-118.4   c5.6,0,11.5,0.4,18.1,1.1c10,1.1,19.7-3.3,25.5-11.5c5.7-8.2,6.5-18.9,2.1-27.9c-14.3-28.7-21.6-59.3-21.6-90.9   c0-112.6,91.6-204.3,204.3-204.3c75.8,0,145,41.7,180.6,108.9c4.8,9.1,14.4,14.8,24.8,14.5c10.3-0.2,19.7-6.3,24.1-15.6   c21.9-46.1,68.8-75.9,119.6-75.9c57.3,0,107.8,36.6,125.8,91c3.4,10.3,12.6,17.7,23.4,18.7c10.8,1,21.2-4.5,26.5-14   c40.4-73.2,117.3-118.7,200.7-118.7c126.3,0,229,102.8,229,229c0,11.9-1.1,24.5-3.5,38.4c-1.4,8.3,1.1,16.8,6.7,23   c5.7,6.2,13.9,9.5,22.2,8.9l1-0.1c4.5-0.3,8.8-0.7,12.9-0.7c93.8,0,171.7,69.4,184.9,159.6H1563   C1560.6,1457.1,1558.3,1457.4,1556.1,1458z M3499.1,2500.6l-5.3-502.6c-0.1-8.6,3.7-16.6,10.5-21.8c6.8-5.3,15.4-7.1,23.8-4.9   l278.6,72.9c8.8,2.3,15.7,8.6,18.8,17.2s1.8,17.8-3.5,25.2l-10.7,14.9c0,0.1-0.1,0.1-0.1,0.2L3681.7,2282   c-8.8,12.3-6,29.4,6.3,38.2s29.4,6,38.2-6.3l111.2-155l89.4,86.3c5.6,5.4,8.5,12.6,8.3,20.3s-3.5,14.8-9.3,19.9l-280.3,245.4   c-27.4-9.9-65.1-17.8-78.1-20.4C3549.7,2506.9,3522.6,2502.1,3499.1,2500.6z" />
        <path
            d="M3684.6,3815.5c-14.8,3.1-24.3,17.5-21.2,32.3c2.7,12.9,14.1,21.8,26.8,21.8c1.8,0,3.7-0.2,5.6-0.6   c52.1-10.8,98.9-25.9,139-44.7c43.8-20.6,81.2-46.4,111.3-76.8c32.2-32.5,56.9-71.2,73.3-114.8c17-45.2,25.7-97.1,25.7-154.1   c0-71.1-14.8-147.9-44-228.2c-5.2-14.2-20.8-21.5-35-16.4c-14.2,5.2-21.5,20.9-16.4,35c27,74.3,40.7,144.8,40.7,209.5   C3990.3,3665.2,3893.2,3772.2,3684.6,3815.5z" />
        <path
            d="M2318.6,1232.9c-49.6-30.7-108.2-40.2-165-26.8c-56.8,13.4-104.9,48.1-135.6,97.7c-7.9,12.8-4,29.7,8.9,37.6   c4.5,2.8,9.4,4.1,14.4,4.1c9.2,0,18.1-4.6,23.3-13c47.4-76.8,148.5-100.6,225.3-53.2c12.8,7.9,29.7,4,37.6-8.9   C2335.4,1257.7,2331.5,1240.9,2318.6,1232.9z" />
        <path
            d="M2725.5,1244.9c-48.6-2.3-95.3,14.4-131.3,47.1c-11.2,10.2-12,27.5-1.9,38.6c10.2,11.2,27.5,12,38.6,1.9   c25.2-22.9,57.9-34.6,91.9-33s65.4,16.4,88.3,41.7c5.4,5.9,12.8,9,20.3,9c6.6,0,13.1-2.3,18.4-7.1c11.2-10.2,12-27.5,1.9-38.6   C2819,1268.4,2774.2,1247.2,2725.5,1244.9z" />
        <path
            d="M2385.9,3238c28.8-1,70.5-28.5,93-45c30.2-22.2,76.4-61.1,124.5-121.1c74.4-92.5,163-247.3,162.9-459.7   c-0.1-228.1-96.7-441.8-154.3-548.8c-38.2-71-81.5-136.7-121.8-184.9c-19.4-23.2-37.4-41.5-53.5-54.6c-19.7-15.9-36-23.6-51.2-24.1   c-0.5,0-2.6,0-3.1,0c-15.2,0.5-31.5,8.2-51.2,24.1c-16.1,13.1-34.1,31.4-53.5,54.6c-40.3,48.3-83.6,114-121.7,185   c-57.5,107.1-154.1,320.8-154,548.9c0.1,212.3,88.7,367.1,163.1,459.6c48.2,59.9,94.4,98.9,124.6,121c22.6,16.5,64.3,44,93.1,45   C2383.3,3238,2385.4,3238,2385.9,3238z M2454.3,1920.7c38,46.7,78.5,109.5,114,176.7c53.5,101.1,143.3,302.5,143.4,514.8   c0,194.6-80.6,337-148.3,422.2c-43.9,55.3-86,91.4-113.5,112c-15,11.2-27.8,19.3-38.2,25.1l-0.1-284.3   c94.7-43.4,176.2-106.9,242.3-189c9.5-11.8,7.6-29-4.1-38.5c-11.8-9.5-29-7.6-38.5,4.1c-55.4,68.8-122.5,123.3-199.8,162.6   l-0.1-493.4c55.2-37.2,101.6-84.6,138-141.1c8.2-12.7,4.5-29.6-8.2-37.8s-29.6-4.5-37.8,8.2c-25.4,39.5-56.3,73.9-92.1,102.8   l-0.1-391.1C2422.5,1884.2,2436.9,1899.2,2454.3,1920.7z M2205.2,3034.5c-67.7-85.2-148.5-227.6-148.5-422.1   c-0.1-212.3,89.7-413.7,143.1-514.8c35.6-67.3,76-130,114-176.8c17.4-21.5,31.7-36.4,42.9-46.6l0.1,444.6l0,0l0.1,253.6   c-69.5-67.3-124.9-139.5-165.2-215.3c-7.1-13.3-23.6-18.4-37-11.3c-13.3,7.1-18.4,23.6-11.3,37c50.2,94.4,122,183.3,213.5,264.2   l0.1,222.4c0,0.2,0,0.4,0,0.6l0.1,301.8c-10.4-5.8-23.2-14-38.2-25.1C2291.2,3125.9,2249.2,3089.8,2205.2,3034.5z" />
    </g>
</svg>
{%- endcapture -%}

{%- capture svg_unknown -%}
<svg width="100%" height="100%" viewBox="0 0 76 110" version="1.1" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
    style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <g transform="matrix(1,0,0,1,-250,0)">
        <g transform="matrix(1,0,0,1,-0.539998,0)">
            <rect x="250.54" y="0" width="75.54" height="109.533" style="fill:none;" />
            <g transform="matrix(1,0,0,1,237.6,3.24764)">
                <path
                    d="M65.191,2.672C52.203,8.75 38.531,14.293 27.371,19.582C25.625,20.375 24.57,21.25 24.012,22.113C23.453,22.976 23.379,23.828 23.668,24.457C24.324,25.613 24.949,26.812 25.586,27.988C25.379,28.055 25.23,28.269 25.242,28.488L25.242,36.488C25.242,36.75 25.48,36.988 25.746,36.988L27.41,36.988L32.184,82.84C31,84.43 30.301,86.371 30.301,88.496C30.301,93.739 34.551,97.996 39.82,97.996C43.023,97.996 45.851,96.407 47.578,93.996L67.965,93.996C68.219,93.996 68.453,93.778 68.469,93.528L74.344,36.989L76.008,36.989C76.27,36.989 76.512,36.75 76.512,36.489L76.512,28.489C76.512,28.227 76.274,27.989 76.008,27.989L28.766,27.989L72.493,8.86C72.735,8.742 72.841,8.406 72.712,8.172C71.954,6.758 71.188,5.317 70.419,3.922C69.934,2.899 69.223,2.235 68.313,2.047C67.247,1.852 66.036,2.293 65.204,2.672L65.191,2.672ZM68.113,3.016C68.687,3.137 69.121,3.516 69.527,4.391L71.57,8.141L26.652,27.832L24.609,24.05C24.488,23.789 24.441,23.289 24.859,22.644C25.277,22 26.152,21.226 27.781,20.488L65.601,3.578C66.452,3.129 67.253,3.008 68.113,3.016L68.113,3.016ZM26.242,28.989L75.496,28.989L75.496,35.989L26.242,35.989L26.242,28.989ZM28.41,36.989L73.328,36.989L67.484,92.997L48.199,92.997C48.926,91.657 49.328,90.126 49.328,88.497C49.328,83.254 45.078,78.965 39.809,78.965C37.191,78.965 34.809,80.04 33.086,81.747L28.41,36.989ZM39.816,79.993C44.543,79.993 48.39,83.794 48.39,88.493C48.39,93.192 44.539,96.962 39.816,96.962C35.09,96.962 31.242,93.192 31.242,88.493C31.242,83.794 35.094,79.993 39.816,79.993Z"
                    style="fill-rule:nonzero;" />
            </g>
        </g>
    </g>
</svg>
{%- endcapture -%}

{%- capture svg_logo -%}
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 51">
  <g>
    <path d="M9.4206,51c-2.7488,0-4.9853-2.2365-4.9853-4.9853s2.2365-4.9853,4.9853-4.9853,4.9853,2.2365,4.9853,4.9853-2.2365,4.9853-4.9853,4.9853ZM9.4206,42.1294c-2.1419,0-3.8853,1.7434-3.8853,3.8853s1.7434,3.8853,3.8853,3.8853,3.8853-1.7434,3.8853-3.8853-1.7434-3.8853-3.8853-3.8853Z"/>
    <path d="M18.2913,51c-2.7488,0-4.9853-2.2365-4.9853-4.9853s2.2365-4.9853,4.9853-4.9853,4.9853,2.2365,4.9853,4.9853-2.2365,4.9853-4.9853,4.9853ZM18.2913,42.1294c-2.1419,0-3.8853,1.7434-3.8853,3.8853s1.7434,3.8853,3.8853,3.8853,3.8853-1.7434,3.8853-3.8853-1.7434-3.8853-3.8853-3.8853Z"/>
    <path d="M51.2443,51c-2.7488,0-4.9853-2.2365-4.9853-4.9853s2.2365-4.9853,4.9853-4.9853,4.9864,2.2365,4.9864,4.9853-2.2365,4.9853-4.9864,4.9853ZM51.2443,42.1294c-2.1419,0-3.8853,1.7434-3.8853,3.8853s1.7434,3.8853,3.8853,3.8853c2.143,0,3.8864-1.7434,3.8864-3.8853s-1.7434-3.8853-3.8864-3.8853Z"/>
    <path d="M43.3716,46.5647c-.304,0-.55-.246-.55-.55v-26.062H10.9514L1.1,28.1971v17.2676h3.8853c.304,0,.55.246.55.55s-.246.55-.55.55H.55c-.304,0-.55-.246-.55-.55v-18.0743c0-.1633.072-.3169.1966-.4222l10.2016-8.5377c.0999-.0827.2245-.1278.3534-.1278h32.62c.304,0,.55.246.55.55v26.6119c0,.304-.246.55-.55.55Z"/>
    <path d="M33.6039,42.6836c-1.2203,0-2.2139-.9926-2.2139-2.2128v-15.5242c0-1.2203.9936-2.2128,2.2139-2.2128s2.2128.9926,2.2128,2.2128v15.5242c0,1.2203-.9926,2.2128-2.2128,2.2128ZM33.6039,23.8338c-.6144,0-1.1139.4995-1.1139,1.1129v15.5242c0,.6134.4995,1.1129,1.1139,1.1129.6134,0,1.1129-.4995,1.1129-1.1129v-15.5242c0-.6134-.4995-1.1129-1.1129-1.1129Z"/>
    <path d="M25.8418,39.1356c-1.2203,0-2.2128-.9936-2.2128-2.2139v-11.9751c0-1.2203.9926-2.2128,2.2128-2.2128s2.2128.9926,2.2128,2.2128v11.9751c0,1.2203-.9926,2.2139-2.2128,2.2139ZM25.8418,23.8338c-.6134,0-1.1129.4995-1.1129,1.1129v11.9751c0,.6144.4995,1.1139,1.1129,1.1139s1.1129-.4995,1.1129-1.1139v-11.9751c0-.6134-.4995-1.1129-1.1129-1.1129Z"/>
    <path d="M18.0797,39.1356c-1.2203,0-2.2128-.9936-2.2128-2.2139v-11.9751c0-1.2203.9926-2.2128,2.2128-2.2128s2.2139.9926,2.2139,2.2128v11.9751c0,1.2203-.9936,2.2139-2.2139,2.2139ZM18.0797,23.8338c-.6134,0-1.1129.4995-1.1129,1.1129v11.9751c0,.6144.4995,1.1139,1.1129,1.1139.6144,0,1.1139-.4995,1.1139-1.1139v-11.9751c0-.6134-.4995-1.1129-1.1139-1.1129Z"/>
    <path d="M10.3176,39.1356c-1.2203,0-2.2128-.9936-2.2128-2.2139v-8.094c0-1.2203.9926-2.2128,2.2128-2.2128s2.2139.9926,2.2139,2.2128v8.094c0,1.2203-.9936,2.2139-2.2139,2.2139ZM10.3176,27.7148c-.6134,0-1.1129.4995-1.1129,1.1129v8.094c0,.6144.4995,1.1139,1.1129,1.1139.6144,0,1.1139-.4995,1.1139-1.1139v-8.094c0-.6134-.4995-1.1129-1.1139-1.1129Z"/>
    <path d="M48.9165,19.9527h-5.545c-.304,0-.55-.246-.55-.55s.246-.55.55-.55h5.545c.304,0,.55.246.55.55s-.246.55-.55.55Z"/>
    <path d="M46.809,46.5647h-24.0824c-.304,0-.55-.246-.55-.55s.246-.55.55-.55h24.0824c.304,0,.55.246.55.55s-.246.55-.55.55Z"/>
    <path d="M59.45,46.5647h-3.7693c-.304,0-.55-.246-.55-.55s.246-.55.55-.55h3.2193v-11.4852l-6.1809-9.5914h-9.3476c-.304,0-.55-.246-.55-.55s.246-.55.55-.55h9.6473c.1869,0,.3609.0945.4619.2524l6.4312,9.9792c.058.0881.0881.1923.0881.2976v12.1974c0,.304-.246.55-.55.55Z"/>
    <path d="M59.45,34.3673h-12.7517c-.304,0-.55-.246-.55-.55v-6.6525c0-.304.246-.55.55-.55h8.4324c.304,0,.55.246.55.55s-.246.55-.55.55h-7.8824v5.5525h12.2017c.304,0,.55.246.55.55s-.246.55-.55.55Z"/>
    <path d="M49.3602,37.694h-3.3268c-.304,0-.55-.246-.55-.55s.246-.55.55-.55h3.3268c.304,0,.55.246.55.55s-.246.55-.55.55Z"/>
    <path d="M59.45,41.0208h-3.3268c-.304,0-.55-.246-.55-.55s.246-.55.55-.55h3.3268c.304,0,.55.246.55.55s-.246.55-.55.55Z"/>
    <path d="M36.2701,16.0771c-.0258,0-.0516-.0021-.0784-.0054-.1601-.0226-.3018-.1149-.3878-.2524l-6.486-10.3294c-.0859-.1364-.1074-.304-.058-.4587.0494-.1536.1633-.2782.3126-.3405L40.2876.2167c1.2525-.5253,2.6876-.0687,3.4095,1.0806l2.1301,3.3923c.7219,1.1505.5092,2.6404-.507,3.5427h0l-8.6848,7.7062c-.101.0902-.232.1386-.3652.1386ZM30.5952,5.4555l5.7952,9.2294,8.1993-7.2755c.6123-.5435.7412-1.4416.3051-2.1355l-2.129-3.3912c-.435-.6929-1.2998-.9646-2.0549-.652l-10.1156,4.2248ZM44.9549,7.8208h.0107-.0107Z"/>
    <path d="M40.4895,19.9527c-.1171,0-.2352-.0376-.3351-.1139-.2406-.1858-.2857-.5306-.101-.7713l4.156-5.4032-5.9027-6.5343c-.203-.2256-.1858-.5725.0397-.7766.2245-.203.5715-.1869.7766.0397l6.2099,6.8748c.1783.1966.1901.4931.0279.7036l-4.4353,5.7662c-.1085.1407-.2718.2148-.4361.2148Z"/>
    <path d="M27.9591,10.0842h-1.6628c-.304,0-.55-.246-.55-.55s.246-.55.55-.55h1.6628c.304,0,.55.246.55.55s-.246.55-.55.55Z"/>
    <path d="M22.0822,16.5153h-1.6628c-.304,0-.55-.246-.55-.55s.246-.55.55-.55h1.6628c.304,0,.55.246.55.55s-.246.55-.55.55Z"/>
    <path d="M31.2859,14.5195h-1.6639c-.304,0-.55-.246-.55-.55s.246-.55.55-.55h1.6639c.304,0,.55.246.55.55s-.246.55-.55.55Z"/>
    <path d="M27.6261,16.5153h-1.6628c-.304,0-.55-.246-.55-.55s.246-.55.55-.55h1.6628c.304,0,.55.246.55.55s-.246.55-.55.55Z"/>
    <path d="M25.2983,13.2992h-1.6639c-.304,0-.55-.246-.55-.55s.246-.55.55-.55h1.6639c.304,0,.55.246.55.55s-.246.55-.55.55Z"/>
  </g>
</svg>
{%- endcapture -%}


{% assign today = "now" | date: "%Y-%m-%d" %}
{% assign sorted_events = events | sort: "day" %}

{%- comment -%}
Find the next pickup day
{%- endcomment -%}
{% assign next_pickup_day = "" %}

{% for event in sorted_events %}
  {% if event.day >= today %}
    {% assign has_pickup = false %}
    {% for flag in event.flags %}
      {% if flag.opts.event_type == "pickup" %}
        {% assign has_pickup = true %}
      {% endif %}
    {% endfor %}
    {% if has_pickup and next_pickup_day == "" %}
      {% assign next_pickup_day = event.day %}
    {% endif %}
  {% endif %}
{% endfor %}

{%- comment -%}
Capture pickups for the next pickup day
{%- endcomment -%}
{% capture pickup_events %}
<div class="flex flex--center-y gap">
  {% for event in sorted_events %}
    {% if event.day == next_pickup_day %}
      {% assign pickup_type = "" %}
      {% for flag in event.flags %}
        {% if flag.opts.event_type == "pickup" %}
          {% assign pickup_type = flag.name %}
        {% endif %}
      {% endfor %}
      <div class="text--center">
        <img height="170" width="150"
        {% if pickup_type == "trash" %}
        src="data:image/svg+xml;base64,{{ svg_trash | base64_encode }}"
        {% else if pickup_type == "recycle" %}
        src="data:image/svg+xml;base64,{{ svg_recycle | base64_encode }}"
        else if pickup_type == "brush" %}
        src="data:image/svg+xml;base64,{{ svg_brush | base64_encode }}"
        {% endif %}
        alt="{{ pickup_type }}" />
        <div><span class="label label--small label--outline">{{ pickup_type | upcase }}{{ image_height }}</span></div>
      </div>
    {% endif %}
  {% endfor %}
</div>
{% endcapture %}

{%- comment -%}
Calculate days until next pickup
{%- endcomment -%}
{% if next_pickup_day != "" %}
  {% assign today_ts = today | date: "%s" %}
  {% assign next_pickup_ts = next_pickup_day | date: "%s" %}
  {% assign seconds_diff = next_pickup_ts | minus: today_ts %}
  {% assign days_until_pickup = seconds_diff | divided_by: 86400 %}
{% endif %}

{%- comment -%}
Capture upcoming holidays (still all future holidays)
{%- endcomment -%}
{% capture holiday_events %}
{% if holiday_events.length > 0 %}
<div class="flex gap gap--large">
  <div><span class="title title--small">Upcoming Holidays:</span></div>
  {% for event in sorted_events %}
    {% if event.is_holiday == 1 and event.day >= today %}
      {% assign holiday_flag = event.flags.first %}
      <div><span class="label label--small">{{ event.day | date: '%-m/%-d' }}: {{ holiday_flag.subject_hash["en-US"] }}</span></div>
    {% endif %}
  {% endfor %}
</div>
{% endif  %}
{% endcapture %}
